Things to include:
Peer Coaching Time Table (yet to be finalised)


Introduction to Peer Coaching (confer at later date for content within this)


Which subjects are offered


Commonly asked FAQ section
	How to signup?
	How to become peer coach? 
	etc
Revision Resources (to be provided by the coaches)
	Past paper hub
	Good youtube channels & explanations of what about them is good
	How to use AI to learn efffectively


Tutor availability schedule


Student Sign up links to peer coaching


Meet the Tutors
Descriptions with photos of who each tutor is, their interests and specialties


Notices (e.g. section for 'DUE TO INTERNAL MOCK EXAMS, SESSIONS ARE CANCELLED UNTIL XXX)


Contacts(coordinators, coaches, teacher heads)


Link to feedback form

Further notes from discussion with peer coaching coordinators:
- make color scheme mostly white with the blue hue accents present in the same folder that this txt is held in. site should be bright colored.